.content{
    margin-top: 1em;
    padding: 30px 55px 30px 55px;
    width: 70%;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.light-gray{
    background-color: rgb(223, 223, 223);
}
.rounded-corner{
    border-radius: 1.5em;
}
.form-control{
    margin-bottom: 5px;
}
.btn-block{
    inline-size: 100%;
    margin-top: 10px;
}
.selecionado{
    background-color: rgb(255, 91, 91);
}
.footer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert{
    margin-top: 10px;
}
.orderBy{
    text-decoration: none;
}

.top-title{
    font-weight: 200;
    text-align: center;
    margin: 0px 0px 30px 30px
}

.loading-screen{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}