<div class="center content light-gray rounded-corner">
    <h3 class="top-title">Adicionar Contato</h3>
    <form name="contatoForm">
        <input class="form-control" type="text" placeholder="Nome" name="nome" ng-model="contato.nome" ng-required="true" ng-minlength="5">
        <input class="form-control" type="text" placeholder="Telefone" name="telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
        <input class="form-control" type="text" placeholder="Data de Admissão" name="data" ng-model="contato.data" ng-required="true" ui-date>
    
        <select class="form-control" ng-model="contato.operadora" name="operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy: 'nome' | orderBy: 'categoria'" ng-required="true">
        <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"> -->
            <option value="">Selecione uma operadora</option>
        </select>
        <!-- 
            ng-pattern = regularExpression -> pode ser usado para definir um padrão esperado, caso o valor digitado não atenda ao padrão, lança um 'error' que pode ser retornado usando '$error.pattern'
            Exemplo de uma expressão regular: /^\d{4,5}-\d{4}$/  -> ^: Início do padrão  |  \d: dígitos  |  $: fim do padrão
            ng-minlength -> Declara a quantidade miníma de caracteres, lança um 'error' caso true, pode ser acessado usando '$error.minlength'
            ng-maxlength -> Declara a quantidade máxima de caracteres, lança um 'error' caso true, pode ser acessado usando '$error.maxlength'
         -->
    </form>
    
    <button class="btn btn-primary btn-block" ng-click = "adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
    
    <div class="alert alert-danger" ng-if="contatoForm.$invalid && contatoForm.$dirty" ng-messages="contatoForm.$invalid">
        Preencha o formulário corretamente:
        <ul ng-messages="contatoForm.nome.$error">
            <li ng-message="required">O campo Nome é obrigatório</li>
            <li ng-message="minlength">O campo Nome precisa ter mais de 5 caracteres.</li> 
        </ul>
        <ul ng-messages="contatoForm.telefone.$error">
            <li ng-message="required">O campo Telefone é obrigatório</li>
            <li ng-message="pattern">O campo Telefone precisa ser informado no formato "#####-####".</li> 
        </ul>
        <ul>
            <li ng-show="contatoForm.operadora.$invalid">O campo Operadora é obrigatório</li>
        </ul>
    </div>
    <!-- <div class="alert alert-danger" ng-if="contatoForm.$invalid && contatoForm.$dirty">
        Preencha o formulário corretamente:
        <ul>
            <li ng-show="contatoForm.nome.$invalid">O campo Nome é obrigatório</li>
            <li ng-show="contatoForm.telefone.$invalid">O campo Telefone é obrigatório</li>
            <li ng-show="contatoForm.operadora.$invalid">O campo Operadora é obrigatório</li>
        </ul>
    </div> -->
</div>